<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.brlo.hopfen.feature">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:name="de.brlo.hopfen.feature.Hopfen"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/application"
      android:supportsRtl="false"
      android:theme="@style/Theme.Hopfen">

    <activity android:name=".login.LoginActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".home.HomeActivity"
        android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <data android:host="login"
            android:scheme="brlo.hopfen"/>
      </intent-filter>

    </activity>

  </application>

</manifest>
